* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

* button{
    cursor: pointer;
}

body{
    display: flex;
    background-color: whitesmoke;
}

.home{
    border: 2px solid red;
    text-align: center;
    margin: auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btns button{
    padding: .5rem;
    border-radius: 3px;
    border: none;
    background-color: darkgreen;
    color: white;
}

.root {
    margin-top: 1rem !important;
    /* border: 2px solid red; */
    width: 55%;
    text-align: center;
    margin: auto;
    padding: .5rem;
}

.submitBtn{
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(28, 28, 248);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: .7rem;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px grey;
}

input,select{
    font-size: 1rem;
    padding: 5px;
}

#result{
    margin-top: 1rem;
    color: red;
    font-weight: bold;
    text-align:justify;
}

@media screen and (max-width: 426px) {
    
    #root{
        width: 100%;
    }

    form {
        width: 85%;
    }
}